.login-page {
  width: 100%;
  height: 100%;
  background: #f9f9fc;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  overflow: auto;

  .login-container {
    height: 560px;
    background-color: white;
    border-radius: 4px;
    z-index: 1;
    display: grid;
    grid-template-columns: 366px 541px;
    box-shadow: 2px 2px 11px rgba(69, 65, 78, 0.06);

    .logo {
      margin: 40px 0 0 40px;
    }

    .form {
      width: 100%;
      height: 100%;
      display: flex;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: center;

      form {
        width: 301px;
        padding: 0;

        .header-login {
          text-align: left;
          margin-bottom: 24px;
        }
        input {
          padding: 12px 30px 12px 30px;
        }
      }
    }
  }

  .forgot {
    .header-login {
      margin: 0 0 10px;
    }
    .inputs-forgot {
      display: grid;
      grid-template-columns: 144px 242px;
      margin: 0px 32px;

      .forgot-select {
        width: 133px;

        .select__control {
          color: #5d6072;
          line-height: 16px;
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          border: 1px solid #f3f4f6;
          box-sizing: border-box;
          border-radius: 4px;
        }
      }
    }
    .captcha {
      margin-bottom: 36px;
    }
    input {
      padding: 12px 12px 12px 12px;
      height: 40px;
    }
    #phone-form-control {
      padding: 12px 12px 12px 60px;
    }
    #react-select-2-input {
      height: 38px;
    }
  }

  .expired {
    .header-login {
      color: #f06292;
    }
    .tooltip-text {
      margin: 0px 45px 8px 45px;
    }
    .button-submit {
      margin-top: 20px;
    }
    .login-page-eye {
      margin-top: -45px;
    }
  }

  .first-time {
    .header-login {
      color: #78c350;
    }
    .tooltip-text {
      margin: 0px 45px 8px 45px;
    }
    .button-submit {
      margin-top: 20px;
    }
    .login-page-eye {
      margin-top: -45px;
    }
  }

  .login-card {
    background: white;
    width: 540px;
    box-shadow: 2px 2px 11px rgba(69, 65, 78, 0.06);
    border-radius: 4px;
    padding: 45px;
  }

  .header-login {
    text-transform: uppercase;
    color: #104a9d;
    letter-spacing: 0.2px;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
  }

  .tooltip-text {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #5d6072;
    margin: 0px 30px 24px 30px;
  }

  .form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .form {
      width: 300px;
    }
  }

  .input-container {
    margin: 16px 0;
  }

  input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #e8ecef;
    padding: 12px 30px 12px 12px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
  }

  input::placeholder {
    color: #acafbc;
  }

  .login-page-eye {
    color: #acafbc;
    font-size: 20px;
    width: 20px;
    position: relative;
    float: right;
    margin-top: -30px;
    margin-right: 8px;
    z-index: 2;
    cursor: pointer;
  }

  .icon {
    position: absolute;
    color: #acafbc;
    font-size: 20px;
    width: 20px;
    margin: 10px auto 10px 5px;
    text-align: center;
  }

  .button-submit {
    height: 40px;
    width: 100%;
    color: white;
    background: #104a9d;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    border: none;
    opacity: 1;
  }

  .loading {
    background: white;
    border: none;
  }

  .link {
    color: #104a9d;
    text-decoration-line: underline;
    font-weight: 300;
    font-size: 11px;
    line-height: 16px;
    float: right;
    margin-top: -8px;
    margin-bottom: 13px;
  }
}

.otp-status {
  font-size: 13px;
  color: #78c350;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.access-denied {
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  color: #f06292;
}

@media (max-width: 991px) {
  .login-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr !important;
    .login-image {
      display: none;
    }
  }
}
