// #sidebar {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   width: 260px;
//   display: block;
//   color: white;
//   font-weight: 400;
//   overflow-y: auto;
//   overflow-x: hidden;
//   transition: all 0.1s ease-in;
//   z-index: 2;
//   background: #104a9d;

//   .sidebar-wrapper {
//     position: relative;
//     margin-top: 105px;
//     z-index: 4;
//   }

//   .logo {
//     background: white;
//     width: 100%;
//     height: 76px;
//     position: relative;
//     z-index: -1;
//     border-right: 1px solid rgba(160, 168, 197, 0.3);
//     box-shadow: 0px 1px 15px rgba(69, 65, 78, 0.1);

//     a.logo-mini {
//       float: left;
//       text-align: center;

//       img {
//         width: 153px;
//         height: 18px;
//         margin-top: 29px;
//         margin-left: 25px;
//       }
//     }

//     a.logo-normal {
//       display: block;
//     }

//     .logo-img {
//       display: inline-block;
//       height: 76px;
//       text-align: center;
//     }

//     .logo-img.slideOut {
//       display: none;
//     }
//   }

//   .logo.slideOut {
//     background: #1857b0;
//     color: white;
//     transition: all 0.1s ease-in;
//   }

//   .logo.slideIn {
//     background: white;
//     color: #a0a8c5;
//     transition: all 0.1s ease-in;
//   }

//   .nav {
//     .nav-item {
//       width: 100%;
//       position: relative;

//       &.collapsed-menu {
//         .nav-menu {
//           padding-left: 0;
//           margin-bottom: 0;
//           list-style: none;

//           .nav-item {
//             position: relative;

//             .nav-link {
//               display: block;
//               height: 36px;

//               .menu-icon {
//                 width: 5px;
//                 height: 18px;
//                 font-size: 14px;
//                 margin-left: 50px;
//                 margin-top: 9px;
//                 margin-bottom: 9px;
//               }

//               .menu-title {
//                 position: absolute;
//                 left: 67px;
//                 top: 9px;
//                 text-transform: none;
//                 align-items: center;
//               }
//             }

//             &.active,
//             &:hover {
//               background: #1378cb;
//               opacity: 1 !important;
//             }
//           }
//         }
//       }

//       &.hover-open {
//         .nav-menu {
//           &:not(.collapsing) {
//             padding: 0;
//             margin: 0;
//             list-style: none;
//             border: none;
//             border-radius: 0%;
//             width: 205px;
//             min-width: 150px;
//             box-shadow: 5px 6px 7px 0px rgba(0, 0, 0, 0.175);

//             .nav-link {
//               .menu-icon {
//                 display: none;
//               }

//               .menu-title {
//                 width: auto;
//                 position: absolute;
//                 left: 25px;
//                 top: 9px;
//                 font-weight: 400;
//                 text-transform: none;
//                 align-items: center;
//                 color: #5d6072;
//               }

//               &.active,
//               &:hover {
//                 background: #f3f4f6;

//                 .menu-title {
//                   color: #1378cb;
//                 }
//               }
//             }

//             .menu-header {
//               height: 36px;
//               background: #1378cb;

//               .menu-title {
//                 position: absolute;
//                 left: 25px;
//                 top: 9px;
//                 width: auto;
//                 display: inline-block;
//                 opacity: 1;
//                 margin: 0;
//                 line-height: 18px;
//                 font-family: "Poppins", sans-serif;
//                 font-style: normal;
//                 font-size: 14px;
//                 text-transform: uppercase;
//                 color: white;
//               }
//             }
//           }
//         }
//       }

//       &.hover-open {
//         .nav-menu.collapsing {
//           padding-left: 0;
//           margin-bottom: 0;
//           list-style: none;
//           background: #104a9d;

//           .nav-item {
//             position: relative;

//             .nav-link {
//               display: block;
//               height: 36px;

//               .menu-icon {
//                 font-size: 14px;
//                 width: 5px;
//                 height: 18px;
//                 margin-left: 50px;
//                 margin-top: 9px;
//                 margin-bottom: 9px;
//               }
//               .menu-title {
//                 position: absolute;
//                 left: 67px;
//                 top: 9px;
//                 text-transform: none;
//                 align-items: center;
//               }
//             }
//           }
//         }
//       }

//       .nav-link {
//         color: white;
//         background-color: inherit;
//         height: 36px;
//         width: 100%;
//         padding: 0px;
//         border: none;
//         text-align: left;
//         opacity: 1 !important;
//         border-radius: 0;
//         box-shadow: none;

//         .menu-icon {
//           color: #4577be;
//           font-size: 26px;
//           width: 26px;
//           float: left;
//           margin-left: 25px;
//           margin-top: 5px;
//           margin-bottom: 5px;
//           text-align: center;
//         }

//         .menu-title {
//           position: absolute;
//           left: 60px;
//           top: 9px;
//           width: auto;
//           display: inline-block;
//           opacity: 0.8;
//           margin: 0;
//           line-height: 18px;
//           font-family: "Poppins", sans-serif;
//           font-style: normal;
//           font-size: 13px;
//           font-weight: 400;
//           text-transform: uppercase;
//         }

//         .menu-title.slideIn {
//           transition: all 0.1s ease-in, color 0ms;
//         }

//         .menu-title.slideOut {
//           visibility: hidden;
//           transition: all 0.1s ease-in, color 0ms;
//         }

//         .menu-icon.slideIn {
//           transition: all 0.1s ease-in, color 0ms;
//         }

//         .menu-icon.slideOut {
//           font-size: 36px;
//           width: 36px;
//           margin-top: 0px;
//           margin-bottom: 0px;
//           margin-left: 22px;
//           transition: all 0.1s ease-in, color 0ms;
//         }

//         &.active,
//         &:hover {
//           background: #1378cb;
//           opacity: 1;
//           .menu-icon {
//             color: white;
//           }
//           .menu-title {
//             opacity: 1;
//           }
//           .caret {
//             color: white;
//           }
//         }
//       }
//     }

//     .caret.slideIn {
//       opacity: 1;
//       transition: all 0.1s ease-in;
//     }

//     .caret.slideOut {
//       // opacity: 0;
//       display: none;
//       transition: all 0.1s ease-in;
//     }

//     .caret {
//       position: absolute;
//       color: #4577be;
//       width: 12px;
//       height: 13px;
//       font-style: normal;
//       font-size: 12px;
//       line-height: 14px;
//       border: none;
//       transition: 0.1s all;
//       margin-left: 166px;
//       margin-top: 11px;
//       transform: rotate(0deg);
//       // transform-origin: center center;
//     }

//     .caret.open {
//       transform: rotate(90deg);
//     }
//   }
// }

// #sidebar::-webkit-scrollbar-track {
//   padding-left: 50px !important;
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: #f5f5f5;
// }

// #sidebar::-webkit-scrollbar {
//   width: 8px;
//   background-color: #f5f5f5;
// }

// #sidebar::-webkit-scrollbar-thumb {
//   background-color: #a0a8c5;
// }

// #sidebar.slideOut {
//   width: 75px;
//   transition: all 0.1s ease-in;
//   overflow: visible;
// }

// #sidebar-hide-button-div {
//   color: #104a9d;
//   z-index: 3;
//   cursor: pointer;
//   transition: all 0.1s ease-in;

//   &:hover {
//     color: #104a9d;
//   }
// }

// #sidebar-hide-button-div.slideOut {
//   position: absolute;
//   top: 26px;
//   left: 25px;
// }

// #sidebar-hide-button-div.slideIn {
//   position: absolute;
//   top: 26px;
//   left: 209px;
// }

// #sidebar-hide-button {
//   font-size: 24px;
//   height: 24px;
//   width: 26px;
// }

// #sidebar-hide-button-div.slideOut {
//   color: white;
//   transition: all 0.1s ease-in;
// }

// #sidebar-hide-button-div.slideIn {
//   color: #104a9d;
//   transition: all 0.1s ease-in;
// }

// #sidebar-hide-button.slideOut {
//   transition: all 0.1s ease-in;
//   transform: rotate(180deg);
// }

// #sidebar-hide-button.slideIn {
//   transition: all 0.1s ease-in;
//   transform: rotate(0deg);
// }

// #main-panel {
//   background: #f9f9fc;
//   position: relative;
//   float: right;
//   width: $sidebar-width;
//   display: flex;
//   min-height: 100vh;
//   flex-direction: column;
//   transition: all 0.1s ease-in;

//   > .content {
//     padding: 15px;
//     height: calc(100% - 76px);
//     min-height: calc(100% - 123px);
//     background-color: #f9f9fc;
//     flex: 1;
//   }

//   > .footer {
//     border-top: 1px solid #e7e7e7;
//   }

//   .navbar {
//     margin-bottom: 0;
//     position: sticky;
//     top: 0px;
//     z-index: 2;
//   }
// }
// body::-webkit-scrollbar {
//   width: 16px;
// }

// #main-panel.slideIn {
//   width: calc(100% - 260px);
//   transition: all 0.1s ease-in;
// }

// #main-panel.slideOut {
//   width: calc(100% - 75px);
//   transition: all 0.1s ease-in;
// }

.sidebar,
.main-panel {
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: 0.1s, 0.1s;
  transition-duration: 0.1s, 0.1s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
}

.sidebar,
body > .navbar-collapse {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 200;
  background-size: cover;
  background-position: center center;

  .sidebar-wrapper {
    position: relative;
    max-height: calc(100vh - 75px);
    min-height: 100%;
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 100px;
  }

  .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
  }

  .logo {
    padding: 10px 15px 9px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 4;

    p {
      float: left;
      font-size: 20px;
      margin: 10px 10px;
      color: white;
      line-height: 20px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .simple-text {
      text-transform: uppercase;
      padding: $padding-small-vertical $padding-zero;
      display: block;
      font-size: $font-size-large;
      color: white;
      text-align: center;
      font-weight: 400;
      line-height: 30px;
    }
  }

  .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;

    img {
      width: 60px;
      height: 60px;
    }
  }

  .nav {
    margin-top: 20px;
    float: none;
    display: block;

    li {
      .nav-link {
        color: white;
        margin: 5px 15px;
        opacity: 0.86;
        border-radius: 4px;
        display: block;
        padding: 10px 15px;

        &:hover {
          background: rgba(255, 255, 255, 0.13);
          opacity: 1;
        }

        p {
          margin: 0;
          line-height: 31px;
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          display: inline-flex;
        }

        i {
          font-size: 28px;
          margin-right: 15px;
          width: 30px;
          text-align: center;
          vertical-align: middle;
          float: left;
        }
      }

      &:hover .nav-link {
        background: rgba(255, 255, 255, 0.13);
        opacity: 1;
      }

      &.active .nav-link {
        color: white;
        opacity: 1;
        background: rgba(255, 255, 255, 0.23);
      }

      &.separator {
        margin: 15px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        & + .nav-item {
          margin-top: 31px;
        }
      }
    }

    .caret {
      margin-top: 13px;
      position: absolute;
      right: 30px;
    }

    .active-pro {
      position: absolute;
      width: 100%;
      bottom: 10px;

      a {
        color: white !important;
      }
    }

    .nav-link {
      color: white;
      margin: 5px 15px;
      opacity: 0.86;
      border-radius: 4px;
      text-transform: uppercase;
      line-height: 30px;
      font-size: 12px;
      font-weight: 600;
    }
  }

  .logo {
    padding: $navbar-padding-a;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    p {
      float: left;
      font-size: 20px;
      margin: 10px 10px;
      color: white;
      line-height: 20px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .simple-text {
      text-transform: uppercase;
      padding: $padding-small-vertical $padding-zero;
      display: block;
      font-size: $font-size-large;
      color: white;
      text-align: center;
      font-weight: 400;
      line-height: 30px;
    }
  }

  .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;

    img {
      width: 60px;
      height: 60px;
    }
  }

  &:after,
  &:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &:before {
    opacity: 0.33;
    background: #000000;
  }

  &:after {
    @include icon-gradient($new-purple, $purple-color-bottom);
    z-index: 3;
    opacity: 1;
  }

  &[data-image]:after,
  &.has-image:after {
    opacity: 0.77;
  }

  &[data-color="black"]:after {
    @include icon-gradient($default-states-color, $default-states-color);
  }
  &[data-color="blue"]:after {
    @include icon-gradient($new-dark-blue, $blue-color-bottom);
  }
  &[data-color="azure"]:after {
    @include icon-gradient($new-blue, $azure-color-bottom);
  }
  &[data-color="green"]:after {
    @include icon-gradient($new-green, $green-color-bottom);
  }
  &[data-color="orange"]:after {
    @include icon-gradient($new-orange, $orange-color-bottom);
  }
  &[data-color="red"]:after {
    @include icon-gradient($new-red, $red-color-bottom);
  }
  &[data-color="purple"]:after {
    @include icon-gradient($new-purple, $purple-color-bottom);
  }
}

.main-panel {
  background: rgba(203, 203, 210, 0.15);
  position: relative;
  float: right;
  width: $sidebar-width;
  min-height: 100%;

  > .content {
    padding: 30px 15px;
    min-height: calc(100% - 123px);
  }

  > .footer {
    border-top: 1px solid #e7e7e7;
  }

  .navbar {
    margin-bottom: 0;
  }
}

.sidebar,
.main-panel {
  overflow: auto;
  max-height: 100%;
  height: 100%;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
}

.fixed-plugin {
  .dropdown {
    .dropdown-menu {
      @include transform-translate-3d-0(-5%);
      border-radius: 10px;
      li.adjustments-line {
        border-bottom: 1px solid #ddd;
      }
      li {
        padding: 5px 2px !important;
      }
      .button-container {
        a {
          font-size: 14px;
        }
        &.show {
          @include transform-translate-3d-0(0%);
          transform-origin: 0 0;
          left: -303px !important;
        }
      }
    }
  }
}

.fixed-plugin .dropdown .dropdown-menu {
  @include transform-translate-y-dropdown(-5%);
  top: -40px !important;
  opacity: 0;
  left: -303px !important;
  transform-origin: 0 0;
}
.fixed-plugin .dropdown.show .dropdown-menu {
  opacity: 1;
  @include transform-translate-y-dropdown(0%);
  transform-origin: 0 0;
  left: -303px !important;
}

.fixed-plugin .dropdown-menu:before,
.fixed-plugin .dropdown-menu:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 65px;
  width: 16px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.fixed-plugin .dropdown-menu:before {
  border-bottom: 16px solid rgba(0, 0, 0, 0);
  border-left: 16px solid rgba(0, 0, 0, 0.2);
  border-top: 16px solid rgba(0, 0, 0, 0);
  right: -16px;
}

.fixed-plugin .dropdown-menu:after {
  border-bottom: 16px solid rgba(0, 0, 0, 0);
  border-left: 16px solid #fff;
  border-top: 16px solid rgba(0, 0, 0, 0);
  right: -15px;
}

.modal {
  &.show {
    .modal-dialog {
      -webkit-transform: translate(0, 30%);
      -o-transform: translate(0, 30%);
      transform: translate(0, 30%);
    }
  }
  &.modal-mini {
    .modal-dialog {
      max-width: 255px;
      margin: 0 auto;
    }
  }
  .modal-content {
    .modal-header {
      border-bottom: none;
      padding-top: 24px;
      padding-right: 24px;
      padding-bottom: 0;
      padding-left: 24px;

      .modal-profile {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-align: center;
        line-height: 5.7;
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);

        i {
          font-size: 32px;
          padding-top: 24px;
        }
      }
    }

    .modal-body {
      padding-top: 24px;
      padding-right: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
      line-height: 1.9;
    }

    .modal-body + .modal-footer {
      padding-top: 0;
    }

    .modal-footer {
      border-top: none;
      padding-right: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
      -webkit-justify-content: space-between;
      justify-content: space-between;

      .btn {
        margin: 0;
        padding-left: 16px;
        padding-right: 16px;
        width: auto;

        &:hover,
        &focus {
          text-decoration: none;
        }
      }
    }
  }
}
