.sidebar,
.main-panel {
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: 0.1s, 0.1s;
  transition-duration: 0.1s, 0.1s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
}

.sidebar,
body > .navbar-collapse {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 400;
  overflow-x: hidden;

  .sidebar-wrapper {
    position: relative;
    min-height: 100%;
    // overflow: auto;
    // width: 260px;
    z-index: 4;
    padding-bottom: 100px;
  }

  .logo {
    background: #fff;
    // padding: 10px 15px 9px 15px;
    height: 76px;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(160, 168, 197, 0.3);
    box-shadow: 0px 1px 15px rgba(69, 65, 78, 0.1);
    position: relative;
    z-index: 4;
    transition: all 0.1s ease-in;

    a.logo-mini {
      float: left;
      text-align: center;
      margin-right: 31px;

      img {
        width: 153px;
        height: 18px;
        margin-top: 29px;
        margin-left: 25px;
      }
    }

    &.slideOut {
      a.logo-mini {
        margin-right: 25px;
      }
    }

    a.logo-normal {
      display: block;
    }

    .logo-img {
      display: inline-block;
      height: 76px;
      text-align: center;
    }

    .logo-img.slideOut {
      display: none;
    }
  }

  .logo.slideOut {
    width: 75px;
  }

  #sidebar-hide-button-div {
    z-index: 3;
    cursor: pointer;
    transition: all 0.1s ease-in;
    padding-top: 26px;
    width: 25px;
  }

  #sidebar-hide-button {
    font-size: 24px;
    height: 24px;
    width: 26px;
  }

  .nav {
    margin-top: 30px;
    float: none;
    display: block;

    li {
      .nav-link {
        color: white;
        display: block;
        padding: 0;

        &:hover {
          background: rgba(255, 255, 255, 0.13);
          opacity: 1;
        }

        // p {
        //   margin: 0;
        //   line-height: 36px;
        //   font-size: 12px;
        //   font-weight: 600;
        //   text-transform: uppercase;
        //   display: inline-flex;
        // }

        i {
          // font-size: 26px;
          // margin-right: 15px;
          margin: 5px 15px 5px 25px;
          width: 30px;
          // text-align: center;
          // vertical-align: middle;
          // float: left;
          display: inline-block;
        }
      }

      &:hover .nav-link {
        background: rgba(255, 255, 255, 0.13);
        opacity: 1;
      }

      &.active .nav-link {
        color: white;
        opacity: 1;
        background: rgba(255, 255, 255, 0.23);
      }

      &.separator {
        margin: 15px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        & + .nav-item {
          margin-top: 31px;
        }
      }
    }

    // .caret {
    //   margin-top: 13px;
    //   position: absolute;
    //   float: left;
    //   right: 30px;
    // }

    .nav-item {
      &.collapsed-menu {
        .nav-menu {
          .nav-item {
            .nav-link {
              .menu-icon {
                width: 5px;
                font-size: $font-size-base;
                margin: 9px 0 0 50px;
              }

              .menu-title {
                text-transform: none;
              }
            }

            &.active,
            &:hover {
              background: #1378cb;
              opacity: 1 !important;
            }
          }
        }
      }

      &.hover-open {
        .nav-menu {
          &:not(.collapsing) {
            margin: 0;
            border: none;
            border-radius: 0%;
            width: 205px;
            min-width: 150px;
            box-shadow: 5px 6px 7px 0px rgba(0, 0, 0, 0.175);

            .nav-link {
              .menu-icon {
                display: none;
              }

              .menu-title {
                width: auto;
                font-weight: $font-weight-normal;
                text-transform: none;
                align-items: center;
                color: #5d6072;
              }

              &.active,
              &:hover {
                background: $smoke-bg;

                .menu-title {
                  color: #1378cb;
                }
              }
            }

            .menu-header {
              height: 36px;
              background: #1378cb;

              .menu-title {
                // position: absolute;
                // left: 25px;
                // top: 9px;
                width: auto;
                display: inline-block;
                opacity: 1;
                // margin: 0;
                margin: 0 0 0 30px;
                line-height: 18px;
                font-family: "Poppins", sans-serif;
                font-style: normal;
                font-size: $font-size-base;
                text-transform: uppercase;
                color: $white-color;
              }
            }
          }
        }
      }

      &.hover-open {
        .nav-menu.collapsing {
          display: none;

          .nav-item {
            // position: relative;

            .nav-link {
              .menu-title {
                text-transform: none;
                display: none;
              }
              &.active,
              &:hover {
                background: $white-color;

                .menu-title {
                  color: #1378cb;
                }
              }
            }
          }
        }
      }

      .nav-link {
        color: $white-color;
        background-color: inherit;
        height: 36px;
        width: 100%;
        padding: 0px;
        border: none;
        text-align: left;
        opacity: 1 !important;
        border-radius: 0;
        box-shadow: none;

        .menu-icon {
          // color: #4577be;
          font-size: 26px;
          width: 26px;
          // vertical-align: middle;
          // float: left;
          margin-left: 25px;
          margin-top: 5px;
          margin-bottom: 5px;
          // text-align: center;
        }

        .menu-title {
          // position: absolute;
          // left: 60px;
          // top: 9px;
          width: auto;
          display: inline-block;
          opacity: 0.8;
          margin: 10px 0 0 10px;
          line-height: 18px;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          vertical-align: middle;
          font-size: 13px;
          font-weight: $font-weight-normal;
          text-transform: uppercase;
        }

        .menu-title.slideIn {
          transition: all 0.1s ease-in, color 0ms;
        }

        .menu-title.slideOut {
          visibility: hidden;
          transition: all 0.1s ease-in, color 0ms;
        }

        .menu-icon.slideIn {
          transition: all 0.1s ease-in, color 0ms;
        }

        .menu-icon.slideOut {
          font-size: 36px;
          width: 36px;
          margin-top: 0px;
          margin-bottom: 0px;
          margin-left: 22px;
          transition: all 0.1s ease-in, color 0ms;
        }

        &.active,
        &:hover {
          background: #1378cb;
          opacity: 1;
          .menu-icon {
            color: $white-color;
          }
          .menu-title {
            opacity: 1;
          }
          .caret {
            color: $white-color;
          }
        }
      }
    }

    .caret.slideIn {
      opacity: 1;
      transition: all 0.1s ease-in;
    }

    .caret.slideOut {
      // opacity: 0;
      display: none;
      transition: all 0.1s ease-in;
    }

    .caret {
      position: absolute;
      left: 216px;
      // color: #4577be;
      width: 12px;
      height: 13px;
      font-style: normal;
      font-size: 12px;
      line-height: 14px;
      border: none;
      transition: 0.1s all;
      margin: 11px 0 0 0 !important;
      // margin-left: 166px;
      // margin-top: 11px;
      transform: rotate(0deg);
      // transform-origin: center center;
    }

    .caret.open {
      transform: rotate(90deg);
    }

    // .nav-link {
    //   color: white;
    //   opacity: 0.86;
    //   border-radius: 4px;
    //   text-transform: uppercase;
    //   line-height: 30px;
    //   font-size: 12px;
    //   font-weight: 600;
    // }
  }

  &:after,
  &:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &:before {
    opacity: 0.33;
    background: #000000;
  }

  &:after {
    @include icon-gradient($new-purple, $purple-color-bottom);
    z-index: 3;
    opacity: 1;
  }

  &[data-image]:after,
  &.has-image:after {
    opacity: 0.77;
  }

  &[data-color="black"]:after {
    @include icon-gradient($default-states-color, $default-states-color);
  }
  &[data-color="black"] {
    .logo.slideOut {
      background: $default-states-color;
      color: $white-color;
    }
    .logo.slideIn {
      background: $white-color;
      color: $default-states-color;
    }
    .nav-item {
      .nav-link {
        .menu-icon {
          color: $white-color;
        }
      }
    }
    .caret {
      color: $white-color;
    }
  }
  &[data-color="blue"]:after {
    @include icon-gradient($new-dark-blue, $blue-color-bottom);
  }
  &[data-color="blue"] {
    .logo.slideOut {
      background: $blue-navbar;
      color: $white-color;
    }
    .logo.slideIn {
      background: $white-color;
      color: $new-dark-blue;
    }
    .nav-item {
      .nav-link {
        .menu-icon {
          color: $blue-color-icon;
        }
      }
    }
    .caret {
      color: $blue-color-icon;
    }
  }
  &[data-color="azure"]:after {
    @include icon-gradient($new-blue, $azure-color-bottom);
  }
  &[data-color="azure"] {
    .logo.slideOut {
      background: $azure-navbar;
      color: $white-color;
    }
    .logo.slideIn {
      background: $white-color;
      color: $new-blue;
    }
    .nav-item {
      .nav-link {
        .menu-icon {
          color: $azure-color-bottom;
        }
      }
    }
    .caret {
      color: $azure-color-bottom;
    }
  }
  &[data-color="green"]:after {
    @include icon-gradient($new-green, $green-color-bottom);
  }
  &[data-color="green"] {
    .logo.slideOut {
      background: $green-navbar;
      color: $white-color;
    }
    .logo.slideIn {
      background: $white-color;
      color: $new-green;
    }
    .nav-item {
      .nav-link {
        .menu-icon {
          color: $success-states-color;
        }
      }
    }
    .caret {
      color: $success-states-color;
    }
  }
  &[data-color="orange"]:after {
    @include icon-gradient($new-orange, $orange-color-bottom);
  }
  &[data-color="orange"] {
    .logo.slideOut {
      background: $orange-navbar;
      color: $white-color;
    }
    .logo.slideIn {
      background: $white-color;
      color: $new-orange;
    }
    .nav-item {
      .nav-link {
        .menu-icon {
          color: $orange-color-bottom;
        }
      }
    }
    .caret {
      color: $orange-color-bottom;
    }
  }
  &[data-color="red"]:after {
    @include icon-gradient($new-red, $red-color-bottom);
  }
  &[data-color="red"] {
    .logo.slideOut {
      background: $red-navbar;
      color: $white-color;
    }
    .logo.slideIn {
      background: $white-color;
      color: $new-red;
    }
    .nav-item {
      .nav-link {
        .menu-icon {
          color: $red-color-bottom;
        }
      }
    }
    .caret {
      color: $red-color-bottom;
    }
  }
  &[data-color="purple"]:after {
    @include icon-gradient($new-purple, $purple-color-bottom);
  }
  &[data-color="purple"] {
    .logo.slideOut {
      background: $purple-navbar;
      color: $white-color;
    }
    .logo.slideIn {
      background: $white-color;
      color: $new-purple;
    }
    .nav-item {
      .nav-link {
        .menu-icon {
          color: $purple-color-icon;
        }
      }
    }
    .caret {
      color: $purple-color-icon;
    }
  }
}

.main-panel {
  background: $smoke-bg;
  position: relative;
  float: right;
  width: $sidebar-width;
  // min-height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  > .content {
    padding: 15px;
    // height: calc(100% - 76px);
    min-height: calc(100% - 123px);
    background-color: #f9f9fc;
    flex: 1;
  }

  > .footer {
    border-top: 1px solid #e7e7e7;
  }

  .navbar {
    margin-bottom: 0;
    position: sticky;
    top: 0px;
    z-index: 2;
  }
}

.sidebar,
.main-panel {
  overflow: auto;
  // max-height: 100%;
  // height: 100%;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: 0.1s, 0.1s;
  transition-duration: 0.1s, 0.1s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
}

.fixed-plugin {
  .dropdown {
    .dropdown-menu {
      @include transform-translate-3d-0(-5%);
      border-radius: 10px;
      li.adjustments-line {
        border-bottom: 1px solid #ddd;
      }
      li {
        padding: 5px 2px !important;
      }
      .button-container {
        a {
          font-size: 14px;
        }
        &.show {
          @include transform-translate-3d-0(0%);
          transform-origin: 0 0;
          left: -303px !important;
        }
      }
    }
  }
}

.fixed-plugin .dropdown .dropdown-menu {
  @include transform-translate-y-dropdown(-5%);
  top: -40px !important;
  opacity: 0;
  left: -303px !important;
  transform-origin: 0 0;
}
.fixed-plugin .dropdown.show .dropdown-menu {
  opacity: 1;
  @include transform-translate-y-dropdown(0%);
  transform-origin: 0 0;
  left: -303px !important;
}

.fixed-plugin .dropdown-menu:before,
.fixed-plugin .dropdown-menu:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 65px;
  width: 16px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.fixed-plugin .dropdown-menu:before {
  border-bottom: 16px solid rgba(0, 0, 0, 0);
  border-left: 16px solid rgba(0, 0, 0, 0.2);
  border-top: 16px solid rgba(0, 0, 0, 0);
  right: -16px;
}

.fixed-plugin .dropdown-menu:after {
  border-bottom: 16px solid rgba(0, 0, 0, 0);
  border-left: 16px solid #fff;
  border-top: 16px solid rgba(0, 0, 0, 0);
  right: -15px;
}

.modal {
  &.show {
    .modal-dialog {
      // -webkit-transform: translate(0, 30%);
      // -o-transform: translate(0, 30%);
      // transform: translate(0, 30%);
    }
  }
  &.modal-mini {
    .modal-dialog {
      max-width: 255px;
      margin: 0 auto;
    }
  }
  .modal-content {
    .modal-header {
      border-bottom: none;
      padding-top: 24px;
      padding-right: 24px;
      padding-bottom: 0;
      padding-left: 24px;

      .modal-profile {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-align: center;
        line-height: 5.7;
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);

        i {
          font-size: 32px;
          padding-top: 24px;
        }
      }
    }

    .modal-body {
      padding-top: 24px;
      padding-right: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
      line-height: 1.9;
    }

    .modal-body + .modal-footer {
      padding-top: 0;
    }

    .modal-footer {
      border-top: none;
      padding-right: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
      -webkit-justify-content: space-between;
      justify-content: space-between;

      .btn {
        margin: 0;
        padding-left: 16px;
        padding-right: 16px;
        width: auto;

        &:hover,
        &focus {
          text-decoration: none;
        }
      }
    }
  }
}

.sidebar.slideOut {
  width: 75px;
  transition: all 0.1s ease-in;
  overflow: visible;
}

.main-panel.slideIn {
  width: calc(100% - 260px);
  transition: all 0.1s ease-in;
}

.main-panel.slideOut {
  width: calc(100% - 75px);
  transition: all 0.1s ease-in;
}
