.main-table {
  background-color: white;
  width: 100%;
  padding: 22px;

  .group-buttons {
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin-bottom: 22px;

    .main-buttons {
      display: grid;
      grid-template-columns: 5fr 5fr;
      justify-self: start;

      button {
        margin-right: 11px;
      }

      .filter {
        width: 100px;
        padding: 0;

        .icon {
          font-size: 14px;
          position: relative;
          top: 1px;
        }
      }

      .icon {
        font-size: 13px;
        margin-left: 5px;
      }
    }
    .secondary-buttons {
      justify-self: end;
      button {
        margin-left: 11px;
      }
    }

    button {
      height: 32px;
      padding: 8px;
      line-height: 16px;
      font-size: 12px;
      text-transform: uppercase;
      box-shadow: none;
      // border: none;
    }
  }
  .table-navigation {
    display: grid;
    grid-template-columns: 1fr 150px;

    .page-size-container {
      display: grid;
      grid-template-columns: 80px 70px;
      justify-self: end;
      align-self: center;

      label {
        align-self: center;
        font-weight: 500;
        line-height: 20px;
        font-size: 14px;
        margin-bottom: 0;
      }

      .select__control {
        line-height: 18px;
        font-size: 12px;
        border: #c8c8c8 1px solid;
        min-height: 32px !important;
        min-width: 70px;
      }
      .select__indicator-separator {
        display: none;
      }
    }
  }
}

.ant-table-thead {
  font-size: 12px;
  tr {
    th {
      color: #9a9a9a;
      text-transform: uppercase;
    }
  }
}
.ant-table-tbody {
  font-size: 12px;
  tr {
    td {
      padding: 12px 10px;
    }
  }
}

tbody {
  .icon {
    font-size: 20px;

    &.icon-edit {
      font-size: 20px;
    }
  }

  // button {
  //   font-size: 12px;
  //   line-height: 16px;
  //   padding: 0px 8px;
  //   border-width: 1px;
  // }
}

.red {
  color: #ec5e6f;
}
.green {
  color: #5bb795;
}
.gray {
  color: gray;
}

.ant-table-summary {
  background-color: #f3f3f3;
}
.colored {
  background-color: AliceBlue;
}
